/* Basic form styles */
.form-signin { max-width: 420px; margin: 0 auto; }
.form-control { width: 100%; padding: 0.6rem; border: 1px solid #e5e7eb; border-radius: 6px; }
label { display:block; margin-bottom: 0.3rem; font-weight:600; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #017572;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color:#017572;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color:#017572;
}
