/* Table styles */
.news-table { width: 100%; border-collapse: collapse; }
.news-table td, .news-table th { padding: 8px; border-bottom: 1px solid #ddd; }
tr:hover {background-color: #f5f5f5;width: 100%;}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-weight:normal;font-size:11.0pt;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-km2t{border-color:#ffffff;font-weight:bold;font-size:12.0pt;text-align:left;vertical-align:top;width: 30%;}
.tg .tg-zv4m{border-color:#ffffff;font-size:11.0pt;text-align:left;vertical-align:top;width: 70%;}
